<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <%= gravatar_for @user %>
    </td>
    <td class ="username">
      <h1>
        <%= @user.name %>
      </h1>
      <%= render 'follow_form' if signed_in? %>
		   <% unless @user.microposts.empty? %>
		      <table class="microposts" summary="User microposts">
		        <%= render @microposts %>
		      </table>
		      <div class="digg_pagination">
		      <%= will_paginate @microposts %>
		      </div>
		    <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name:</strong> <%= @user.name %><br />
      <strong>Link:</strong>  <%= link_to "My Profile", @user %><br />
      <strong>Posts:</strong> <%= @user.microposts.count %>
      <%= render 'shared/stats' %>
    </td>
  </tr>
</table>
